USE [master]
Create database ReferenceDatabase
GO
/****** Object:  Database [ReferenceDatabase]    Script Date: 8/29/2018 12:09:06 PM ******/
CREATE DATABASE [ReferenceDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReferenceDatabase', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ReferenceDatabase.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ReferenceDatabase_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ReferenceDatabase_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReferenceDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReferenceDatabase]
GO
/****** Object:  Table [dbo].[Bond]    Script Date: 8/29/2018 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bond](
	[Bond_Id] [int] NOT NULL IDENTITY(1, 1), 
	[ISIN] [varchar](20) NOT NULL,
	[CoCode] [varchar](2) NULL,
	[IsType] [varchar](2) NULL,
	[IsCode] [varchar](4) NULL,
	[SecType] [int] NULL,
	[SeNo] [varchar](3) NULL,
	[CouRate] [real] NULL,
	[Freq] [int] NULL,
	[IsDate] [datetime] NULL,
	[MatDate] [datetime] NULL,
	[DayCouCon] [int] NULL,
	[Securities_IssuerName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ISIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

SET IDENTITY_INSERT dbo.Bond ON

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CountryConventions]    Script Date: 8/29/2018 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CountryConvention](
	[CountryCode] [varchar](2) NULL,
	[FV] [int] NULL,
	[Tick_size] [real] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DayCountConventions]    Script Date: 8/29/2018 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DayCountConventions](
	[DayCountConvention] [int] NULL,
	[Value] [varchar](14) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Frequency]    Script Date: 8/29/2018 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Frequency](
	[Frequency] [int] NOT NULL,
	[PaymentMode] [varchar](9) NULL,
PRIMARY KEY CLUSTERED 
(
	[Frequency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Trade]    Script Date: 8/29/2018 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trade](
	[TradeID] [int] NOT NULL IDENTITY(1, 1),
	[UserName] [varchar](255) NULL,
	[ISIN] [varchar](255) NULL,
	[TradeType] [varchar](255) NULL,
	[TradeDate] [datetime] NULL,
	[TradePrice] [real] NULL,
	[TradeYield] [real] NULL,
	[CounterParty] [varchar](255) NULL,
	[AccruedInterest] [real] NULL,
	[CleanPrice] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[TradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 8/29/2018 12:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTable](
	[User_Id] [int] NOT NULL IDENTITY(1, 1),
	[UserName] [varchar](9) NOT NULL,
	[FirstName] [varchar](5) NULL,
	[LastName] [varchar](6) NULL,
	[Password] [int] NULL,
	[Approval] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Bond] ([Bond_Id], [ISIN], [CoCode], [IsType], [IsCode], [SecType], [SeNo], [CouRate], [Freq], [IsDate], [MatDate], [DayCouCon], [Securities_IssuerName]) VALUES (17, N'DEAB580L1896', N'DE', N'AB', N'580L', 1, N'896', 16.806, 0, CAST(N'2018-08-29 00:00:00.000' AS DateTime), CAST(N'2049-12-24 00:00:00.000' AS DateTime), 1, N'130 Dudley Road Properties LLC')
INSERT [dbo].[Bond] ([Bond_Id], [ISIN], [CoCode], [IsType], [IsCode], [SecType], [SeNo], [CouRate], [Freq], [IsDate], [MatDate], [DayCouCon], [Securities_IssuerName]) VALUES (186, N'DEAL652C0124', N'DE', N'AL', N'652C', 0, N'124', 11.523, 0, CAST(N'2018-08-29 00:00:00.000' AS DateTime), CAST(N'2027-10-12 00:00:00.000' AS DateTime), 3, N'AbbVie Inc')
INSERT [dbo].[Bond] ([Bond_Id], [ISIN], [CoCode], [IsType], [IsCode], [SecType], [SeNo], [CouRate], [Freq], [IsDate], [MatDate], [DayCouCon], [Securities_IssuerName]) VALUES (131, N'DEAV509X0493', N'DE', N'AV', N'509X', 0, N'493', 18.891, 4, CAST(N'2018-08-29 00:00:00.000' AS DateTime), CAST(N'2047-08-11 00:00:00.000' AS DateTime), 4, N'ABQ FINANCE')
GO
INSERT [dbo].[DayCountConventions] ([DayCountConvention], [Value]) VALUES (1, N'ActualByActual')
INSERT [dbo].[DayCountConventions] ([DayCountConvention], [Value]) VALUES (2, N'ActualBy365')
INSERT [dbo].[DayCountConventions] ([DayCountConvention], [Value]) VALUES (3, N'ActualBy360')
INSERT [dbo].[Frequency] ([Frequency], [PaymentMode]) VALUES (0, N'')
INSERT [dbo].[Frequency] ([Frequency], [PaymentMode]) VALUES (1, N'12 months')
INSERT [dbo].[Frequency] ([Frequency], [PaymentMode]) VALUES (2, N'6 months')
INSERT [dbo].[UserTable] ([User_Id], [UserName], [FirstName], [LastName], [Password], [Approval]) VALUES (1, N'komal1902', N'Komal', N'Sharma', 1234, 1)
USE [master]
GO
